/HIT_CLASS/test1/nbproject/private/
/HIT_CLASS/test1/build/
/Tuan3_BaiTapLop/nbproject/private/
/Tuan3_BaiTapLop/build/
/Tuan3_BaiTapThem/nbproject/private/
/Tuan3_BaiTapThem/build/
/Ontap_Kttx1/nbproject/private/
/Ontap_Kttx1/build/
/Tuan4_BaiTapTrenLop/nbproject/private/
/Tuan4_BaiTapTrenLop/build/
/TX1_CA2_DE1/nbproject/private/
/Tuan4_BaiTapVeNha/nbproject/private/
/Tuan4_BaiTapThem/nbproject/private/
/Tuan4_BaiTapThem/build/
/TX1_CA2_DE1/build/
/Tuan5_BaiTapLop/nbproject/private/
/Tuan5_BaiTapLop/build/
/Tx2_OnTap/nbproject/private/
/Tx2_OnTap/build/
/Tuan5_BaiTapVeNha/nbproject/private/
/Tuan5_BaiTapVeNha/build/
/Tuan6_BaiTapLop/nbproject/private/
/Tuan6_BaiTapLop/build/
/Tuan6_BaiTapThem/nbproject/private/
/Tuan6_BaiTapThem/build/
/Tuan7_BaiTapLop/nbproject/private/
/Tuan7_BaiTapLop/build/
/Tuan7_BaiTapThem/nbproject/private/
/Tuan7_BaiTapThem/build/
