/HIT_CLASS/test1/nbproject/private/
/HIT_CLASS/test1/build/
/Tuan3_BaiTapLop/nbproject/private/
/Tuan3_BaiTapLop/build/
/Tuan3_BaiTapThem/nbproject/private/
/Tuan3_BaiTapThem/build/
/Ontap_Kttx1/nbproject/private/
/Ontap_Kttx1/build/
/Tuan4_BaiTapTrenLop/nbproject/private/
/Tuan4_BaiTapTrenLop/build/
